@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

html{
    font-size: 1px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;

    p{
        margin-block-start: 0;
        margin-block-end: 0;
    }
}
body{
    margin: 0;
}